body{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0;
  padding:0;
}

.wrapper{
  width:100%;
  max-width:740px;
  display:flex;
  flex-direction:column;
  background:#eee;
}

.header{
  padding:20px;
  background:#222;
  h1{
      font-size:3em;
      color:#eee;
      text-align:center;
  }
}
.main{
  flex:1;
  .article{
      margin:30px 30px;
      padding:30px;
      border:1px solid #aaa;
      background:#fff;
      .title{
          h2{
              font-size:32px;
              margin:0;
          }
      }
  }
}
.footer{
  padding:20px;
  background:#ddd;
  p{
      text-align:center;
  }
}